[Unit]
Description=Check UDM Pro TLS certificate renewal every 12 hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=12h
RandomizedDelaySec=3min

[Install]
WantedBy=timers.target
